<section id="organizer" class={{ include.class }}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="padding-bottom: 20px;">
                <h2 class="section-heading">Workshop Organizers </h2>
                <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
            </div>
        </div>
        
        <div class="row">

            
            <div class="col-sm-2">
    &nbsp;
</div>
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/wangwenjie.jpg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://wenjiewwj.github.io/">Dr. Wenjie Wang</a></h4>
        <p class="text-muted">Postdoctoral Research Fellow</p>
        <p class="text-muted">National University of Singapore</p>
    </div>
</div>

<div class="col-sm-1">
    &nbsp;
</div>
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/zhangyang.jpg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="http://home.ustc.edu.cn/~zy2015/">Mr. Yang Zhang</a></h4>
        <p class="text-muted">Ph.D Candidate</p>
        <p class="text-muted">University of Science and Technology of China</p>
    </div>
</div>


<div class="col-sm-1">
    &nbsp;
</div>
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/linxinyu.jpeg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://generative-rec.github.io/#organizer">Ms. Xinyu Lin</a></h4>
        <p class="text-muted">Ph.D Candidate</p>
        <p class="text-muted">National University of Singapore</p>
    </div>
</div>



<div class="col-sm-1">
    &nbsp;
</div>
            
        </div>

        <div class="row">
            
            <div class="col-sm-2">
    &nbsp;
</div>
    
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/fengfuli.jpg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://fulifeng.github.io/">Dr. Fuli Feng</a></h4>
        <p class="text-muted">Professor</p>
        <p class="text-muted">University of Science and Technology of China</p>
    </div>
</div>


<div class="col-sm-1">
    &nbsp;
</div>
    
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/liuweiwen.jpg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://wwliu555.github.io/">Dr. Weiwen Liu</a></h4>
        <p class="text-muted">Researcher</p>
        <p class="text-muted">Huawei Noah's Ark Lab, China</p>
    </div>
</div>



<div class="col-sm-1">
    &nbsp;
</div>
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/liuyong.jpg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="http://www.yongliu.org">Dr. Yong Liu</a></h4>
        <p class="text-muted">Senior Principal Researcher</p>
        <p class="text-muted">Huawei Noah’s Ark Lab, Singapore</p>
    </div>
</div>

<div class="col-sm-1">
    &nbsp;
</div>
            
        </div>

        <div class="row">
            
            <div class="col-sm-2">
    &nbsp;
</div>
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/xiangyu_zhao.jpeg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://zhaoxyai.github.io/">Dr. Xiangyu Zhao</a></h4>
        <p class="text-muted">Tenure-track Assistant Professor</p>
        <p class="text-muted">City University of Hong Kong</p>
    </div>
</div>

<div class="col-sm-1">
    &nbsp;
</div>
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/zhaoxin.jpg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="http://playbigdata.ruc.edu.cn/batmanfly/">Dr. Wayne Xin Zhao</a></h4>
        <p class="text-muted">Professor</p>
        <p class="text-muted">Renmin University of China</p>
    </div>
</div>

<div class="col-sm-1">
    &nbsp;
</div>
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/hexiangnan.jpg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://hexiangnan.github.io/">Dr. Xiangnan He</a></h4>
        <p class="text-muted">Professor</p>
        <p class="text-muted">University of Science and Technology of China</p>
    </div>
</div>



<div class="col-sm-1">
    &nbsp;
</div>
            
        </div>
        
    </div>
</section>
