<section id="contributions" class={{ include.class }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contributions</h2>
        <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
      </div>
    </div>
    <div class="row text-justify">
      <div class="col-md-12">
        <ul class="large text-muted">
          <li><b>Is ChatGPT a Good Recommender? A Preliminary Study</b><br>
              Junling Liu, Chao Liu, Peilin Zhou, Renjie Lv and Kang Zhou</li>
          <li><b>Multiple Key-value Strategy in Recommendation Systems Incorporating Large Language Model</b><br>
              Dui Wang, Xiangyu Hou, Xiaohui Yang, Bo Zhang, Renbing Chen and Daiyue Xue</li>
          <li><b>Trustworthy Recommendations through Generative AI: Addressing Bias, Fairness, Privacy, Safety, Authenticity, Legal Compliance, and Identifiability</b><br>
              Dr. Pradeep Kumar Dadabada</li>
          <li><b>RecFusion: A Binomial Diffusion Process for 1D Data for Recommendation</b><br>
              Gabriel Benedict, Olivier Jeunen, Samuele Papa, Samarth Bhargav, Daan Odijk and Maarten de Rijke</li>
          <li><b>ReLLa: Retrieval-enhanced Large Language Models for Lifelong Sequential Behavior Comprehension in Recommendation</b><br>
              Jianghao Lin, Rong Shan, Chenxu Zhu, Kounianhua Du, Bo Chen, Shigang Quan, Ruiming Tang, Yong Yu and Weinan Zhang</li>
          <li><b>Generative Retrieval as A New Paradigm: A Survey</b><br>
              Yan Xia, Wang Lin, Ye Wang, Jiahao Xun, Linjun Li, Jieming Zhu, Quanyu Dai, Zhenhua Dong and Zhou Zhao</li>
          <li><b>Instruction Distillation Makes Large Language Models Efficient Pointwise Rankers</b><br>
              Weiwei Sun, Zheng Chen, Xinyu Ma, Lingyong Yan, Shuaiqiang Wang, Pengjie Ren, Zhumin Chen, Dawei Yin and Zhaochun Ren</li>
          <li><b>Contrastive Quantization based Semantic Code for Generative Recommendation</b><br>
              Mengqun Jin, Zexuan Qiu, Jieming Zhu, Zhenhua Dong and Xiu Li</li>
          <li><b>Smart Query Reformulation for Low Inventory Items in E-Commerce</b><br>
              Ishita Khan, Liyang Hao, Raffi Tutundjian and Zhe Wu</li>
        </ul>
      </div>
    </div>
  </div>
</section>
