<!DOCTYPE html>
<html>
<head>
  <style>
    del {
      text-decoration: line-through; /* 添加横线 */
      color: rgba(128, 128, 128, 0.5); /* 设置文本颜色 */
    }
        .extended-date {
      color: red; /* 设置文本颜色为红色 */
    }
  </style>
</head>
<body>
<section id="dates" class={{ include.class }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Important Dates</h2>
        <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
      </div>
    </div>
    <div class="row text-justify">
      <div class="col-md-12">
        <ul class="large text-muted">
          <li><b>Paper Submission Deadline:</b> February 5, 2024</li>
          <li><b>Acceptance Notification:</b> March 4, 2024</li>
          <li><b>Workshop Date:</b> May 13, 2024</li>
        </ul>
      </div>
    </div>
  </div>
</section>
</body>
</html>
