<style>
  table,
  th,
  td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
  }
  th {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
  }
</style>
<section id="schedule" class={{include.class}}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Workshop Final Programme</h2>
        <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
      </div>
    </div>
    <table style="width: 100%">
        <tr> <th width=130px> Activity type </th> <th width=150px> Time </th> <th width=400px> Title </th> </tr>
        <tr> <td width=130px> Opening & Introduction </td> <td width=150px> 2.00pm-2.05pm </td> <td></td> </tr>
        <tr> <td width=130px>Keynote</td> <td width=150px>2.05pm-2.50pm</td> <td width=400px>Keynote 1: Large Language Models and Recommender Systems: Opportunities and Challenges by Dr. Zhai Chengxiang, <a href="https://github.com/RGM-CIKM23/RGM-CIKM23.github.io/blob/main/_speakers/LLMs-RecSys-Zhai%20Chengxiang.pdf">slide</a></td> </tr>
        <tr> <td width=130px>Keynote</td> <td width=150px>2.50pm-3.10pm</td> <td width=400px>Keynote 2: 10 Challenges in Industiral Recommender Systems by Dr. Dong Zhenhua, <a href="https://arxiv.org/pdf/2310.04804.pdf">slide</a></td> </tr>
        <tr> <td width=130px>Paper oral</td> <td width=150px>3.10pm-3.20pm</td> <td width=400px>Is ChatGPT a Good Recommender? A Preliminary Study</td> </tr>
        <tr> <td width=130px>Paper oral</td> <td width=150px>3.20pm-3.30pm</td> <td width=400px>Multiple Key-value Strategy in Recommendation Systems Incorporating Large Language Model</td> </tr>
        <tr> <td width=130px>Paper oral</td> <td width=150px>3.30pm-3.40pm</td> <td width=400px>Trustworthy Recommendations through Generative AI: Addressing Bias, Fairness, Privacy, Safety, Authenticity, Legal Compliance, and Identifiability</td> </tr>
        <tr> <td width=130px> Coffee break </td> <td width=150px> 3.40pm-4.00pm</td><td></td> </tr>
        <tr> <td width=130px>Paper oral</td> <td width=150px>4.00pm-4.10pm</td> <td width=400px>RecFusion: A Binomial Diffusion Process for 1D Data for Recommendation</td> </tr>
        <tr> <td width=130px>Paper oral</td> <td width=150px>4.10pm-4.20pm</td> <td width=400px>ReLLa: Retrieval-enhanced Large Language Models for Lifelong Sequential Behavior Comprehension in Recommendation</td> </tr>
        <tr> <td width=130px>Paper oral</td> <td width=150px>4.20pm-4.30pm</td> <td width=400px>Generative Retrieval as A New Paradigm: A Survey</td> </tr>
        <tr> <td width=130px>Paper oral</td> <td width=150px>4.30pm-4.40pm</td> <td width=400px>Instruction Distillation Makes Large Language Models Efficient Pointwise Rankers</td> </tr>
        <tr> <td width=130px>Paper oral</td> <td width=150px>4.40pm-4.50pm</td> <td width=400px>Contrastive Quantization based Semantic Code for Generative Recommendation</td> </tr>
        <tr> <td width=130px>Paper oral</td> <td width=150px>4.50pm-5.00pm</td> <td width=400px>Smart Query Reformulation for Low Inventory Items in E-Commerce</td> </tr>
        <tr> <td width=130px>Keynote</td> <td width=150px>5.00pm-5.30pm</td> <td width=400px>Keynote 3: Aligning Large Language Models to Recommendation: Progresses and Future Prospects by Dr. Feng Fuli, <a href="https://github.com/RGM-CIKM23/RGM-CIKM23.github.io/blob/main/_speakers/align_LLM4Rec_Fuli-CIKM23.pdf">slide</a></td> </tr>

    </table>
  </div>
</section>
