
    <section id="speaker" class={{ include.class }}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Invited Speakers</h2>
                </div>

            </div>
            
            {% assign speakers = site.speakers | sort:"order" %}
            {% for member in speakers %}
                {% include speaker-member.html %}
            {% endfor %}

            
        </div>

    </section>
