
<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}"">
    <meta property="og:image" content="https://kdd-milets.github.io/milets2022/assets/img/thumbnail.jpg">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.conference_name }}">
    <meta property="og:description" content="{{ site.conference_name }}">


    <title>{{ site.conference_name}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/agency.css?v=3" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114495477-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-114495477-1');
    </script>


</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    {% include nav-bar.html%} 

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text" style="color:white;">

                <div class="intro-heading">{{ site.conference_name }}</div>
                <div class="intro-lead-in"> {{ site.conference_www }}
                </div>
                <div class="intro-lead-in"> {{ site.conference_venue }}
                </div>
            </div>
        </div>
    </header>

    {% include summary.html class="bg-mid-gray"%}
    {% include call.html %}
    {% include dates.html class="bg-mid-gray"%}
    {% include organizer.html %}
    {% include contact.html class="bg-mid-gray"%}

    <!-- jQuery -->
    <script src="assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="assets/js/classie.js"></script>
    <script src="assets/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="assets/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="assets/js/agency.js"></script>

</body>

</html>
